<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	backgroundColor="rgba(243,193,171,1)"
	showOpenButton="false"
	showExpandButton="false"
	showThumbsButton="false"
	useThumbDots="true"

>
  <image imageURL="images/3_3.jpg"
	thumbURL="thumbs/3_3.jpg"
	linkURL="images/3_3.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\isenscsi\Desktop\webdesign\schlosser-stubenwagen.ch\www\img\all\3\3_3.JPG">
    <title><![CDATA[3_3]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/3_4.jpg"
	thumbURL="thumbs/3_4.jpg"
	linkURL="images/3_4.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\isenscsi\Desktop\webdesign\schlosser-stubenwagen.ch\www\img\all\3\3_4.JPG">
    <title><![CDATA[3_4]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/3_5.jpg"
	thumbURL="thumbs/3_5.jpg"
	linkURL="images/3_5.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\isenscsi\Desktop\webdesign\schlosser-stubenwagen.ch\www\img\all\3\3_5.JPG">
    <title><![CDATA[3_5]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/3_6.jpg"
	thumbURL="thumbs/3_6.jpg"
	linkURL="images/3_6.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\isenscsi\Desktop\webdesign\schlosser-stubenwagen.ch\www\img\all\3\3_6.JPG">
    <title><![CDATA[3_6]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/3_1.jpg"
	thumbURL="thumbs/3_1.jpg"
	linkURL="images/3_1.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\isenscsi\Desktop\webdesign\schlosser-stubenwagen.ch\www\img\all\3\3_1.JPG">
    <title><![CDATA[3_1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/3_2.jpg"
	thumbURL="thumbs/3_2.jpg"
	linkURL="images/3_2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\isenscsi\Desktop\webdesign\schlosser-stubenwagen.ch\www\img\all\3\3_2.JPG">
    <title><![CDATA[3_2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>