body {
 background-color:#A4BAD0;
 background-color:#000;
 background-repeat:repeat-x;
 font-family:Arial;
 font-size:14.5px;
 color:#FCFBE3;
}
@font-face {
 font-family:TheSans;
 src:url(../fonts/TheSans.ttf);
}
div.textLeft {
 position: fixed;
 top: 150px;
 left: 100px;
 min-height: 200px;
 width: 320px; 
 font-family: TheSans;
 font-size: 25px;
 color: #FCFBE3;
}
div.textRight {
 position: fixed;
 top: 150px;
 right: 100px;
 min-height: 200px;
 width: 340px; 
 font-family: TheSans;
 font-size: 17px;
 color: #FCFBE3;
}
td.infos {
 font-size: 17px;
}
div.img {
 width: 40%;
 min-width: 550px;
 min-height: 800px;
 background-image: url('../img/coffee.png');
 background-size: 100% auto;
 background-repeat: no-repeat;
 font-family: TheSans;
 font-size: 18px;
 text-align:center;
 margin: 0 auto 0 auto;
}
div.logo {
 width: 550px;
 min-height: 140px;
 font-family: TheSans;
 font-size: 18px;
 text-align: center;
 margin: 10px auto;
 font-size: 22px;
 color: #909BD3;
}
div.text {
 position: absolute;
 bottom: 200px;
 color: #909BD3;
}
div.footer {
 min-height: 130px;
 padding-top: 25px;
 min-width: 680px;
 background-color: #909BD3;
 font-family: TheSans;
 font-size: 24px;
 text-align:center;
 position: fixed;
 bottom: 0;
 left: 0;
 right: 0;
}

div.ironsmithBox {
 min-width: 680px;
 background-color: #FCFBE3;
 position: fixed;
 right: 0;
 bottom: 0;
 left: 0;
}
div.sbKontakt {
 width: 600px;
 background-color: #FCFBE3;
 font-family: TheSans;
 margin: 0 auto 0 auto;
 text-align: center;
 font-size:17px;
 color: #FCFBE3;
}
div.ironsmithLink{
 height:22px;
 text-align: right;
 font-family: TheSans; 
 font-size:14px;
 color: #909BD3;
 position: fixed;
 right: 0;
 bottom: 0;
 padding-right: 10px;
 padding-bottom: 3px;
}

a:link {
 text-decoration:none;
 color:#FCFBE3;
}
a:visited {
 text-decoration:none;
 color:#FCFBE3;
}
a:active {
 text-decoration:none;
 color:#FCFBE3;
}
a:hover {
 text-decoration:none;
 color:#000;
}

a.outline:link {
 text-decoration:none;
 color:#909BD3;
}
a.outline:visited {
 text-decoration:none;
 color:#909BD3;
}
a.outline:active {
 text-decoration:none;
 color:#909BD3;
}
a.outline:hover {
 text-decoration:none;
 color:#909BD3;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    div.footer {
		min-height: 190px;
    }
	div.img {
		width: 100%;
		min-height: 1200px;
	}
}