<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Saurer-Bau"
	backgroundColor="rgba(190,190,190,1)"
	textColor="rgba(255,221,0,1)"
	showOpenButton="false"
	showExpandButton="false"
	showThumbsButton="false"
	useThumbDots="true"

>
  <image imageURL="images/mini_ 08.01.2015 198.jpg"
	thumbURL="thumbs/mini_ 08.01.2015 198.jpg"
	linkURL="images/mini_ 08.01.2015 198.jpg"
	linkTarget="_blank"
	sourcePath="F:\webdesign\saurer-bau.ch\img\Kundendienst\1_Kellersanierung Bachmann Hilterfingen\mini_ 08.01.2015 198.jpg">
    <title><![CDATA[mini_ 08.01.2015 198]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mini_ 08.01.2015 199.jpg"
	thumbURL="thumbs/mini_ 08.01.2015 199.jpg"
	linkURL="images/mini_ 08.01.2015 199.jpg"
	linkTarget="_blank"
	sourcePath="F:\webdesign\saurer-bau.ch\img\Kundendienst\1_Kellersanierung Bachmann Hilterfingen\mini_ 08.01.2015 199.jpg">
    <title><![CDATA[mini_ 08.01.2015 199]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mini_ 08.01.2015 197.jpg"
	thumbURL="thumbs/mini_ 08.01.2015 197.jpg"
	linkURL="images/mini_ 08.01.2015 197.jpg"
	linkTarget="_blank"
	sourcePath="F:\webdesign\saurer-bau.ch\img\Kundendienst\1_Kellersanierung Bachmann Hilterfingen\mini_ 08.01.2015 197.jpg">
    <title><![CDATA[mini_ 08.01.2015 197]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>