body {
 background-color:#A4BAD0;
 background-image:url('images/bg/A4BAD0.png');
 background-repeat:repeat-x;
 font-family:Arial;
 font-size:15px;
 color:#990000;
}
@font-face {
 font-family:Century;
 src:url(fonts/century-gothic.ttf);
}
div.top {
 width:860px;
 height:80px;
 margin-top:30px;
 margin-left:auto;
 margin-right:auto;
 text-align:center;
 border-bottom:solid 2pt #032796;
}
div.menuPointOne {
 position: relative;
 width: 125px;
 padding-top: 5px;
 padding-bottom: 5px;
 margin-left: 35px;
 margin-top: 20px;
 margin-bottom: 20px;
 float: left; 
 text-align: center;
 text-decoration:bold;
 font-family: Century;
 font-size:22px;
 color: #032796;
}
div.menuPoint {
 width: 125px;
 padding-top: 5px;
 padding-bottom: 5px;
 margin-top: 20px;
 margin-bottom: 20px;
 float: left; 
 text-align: center;
 text-decoration:bold;
 font-family: Century;
 font-size:22px;
 color: #032796;
}
div.menuPointOneActive {
 width: 125px;
 padding-top: 5px;
 padding-bottom: 3px;
 margin-left: 35px;
 margin-top: 20px;
 margin-bottom: 20px;
 border-bottom: 2px #032796 solid;
 float: left; 
 text-align: center;
 text-decoration:bold;
 font-family: Century;
 font-size:22px;
 color: #032796;
}
div.menuPointActive {
 width: 125px;
 padding-top: 5px;
 padding-bottom: 3px;
 margin-top: 20px;
 margin-bottom: 20px;
 border-bottom: 2px #032796 solid;
 float: left; 
 text-align: center;
 text-decoration:bold;
 font-family: Century;
 font-size:22px;
 color: #032796;
}
div.all {
 background-image:url('images/bg/all.png');
 padding:15px;
 width:830px;
 margin-left:auto;
 margin-right:auto;
 margin-top:10px; 
}
div.front {
 width:830px;
 min-height:500px;
 margin-left:auto;
 margin-right:auto;
}

div.content{
 width:780px;
 min-height:350px;
 padding:25px;
 padding-top:40px;
 margin-left:auto;
 margin-right:auto;
 background-image:url('images/bg/1px.png');
}
div.footer {
 width:860px;
 height:40px;
 margin-top:10px;
 margin-left:auto;
 margin-right:auto;
 text-align:center;
 border-top:solid 2pt #032796;
}
div.goto {
 width:800px;
 height:35px;
 padding-right:15px;
 padding-left:15px;
 padding-bottom:15px;
 margin-left:auto;
 margin-right:auto;
 background-image:url('images/bg/1px.png');
}

div.landing{
 width:180px;
 height:200px;
 float:left;
 text-align: center;
 margin-right: 20px;
 margin-left: 20px;
}

img {
 float: left;
 border:0;
}
h1 {
 font-family:Century;
 text-decoration:bold;
 font-size:60px;
 color:#032796;
}
h2 {
 text-decoration:bold;
 font-family: Century;
 font-size:22px;
 color: #032796;
}
h3 {
 font-family:Century;
 font-size:16px;
 color:#032796;
}
p {
 font-family:Century;
 font-size:15px;
 color:#FFF;
}
table.start {
 width: 100%;
}
table {
 font-family:Century;
 font-size:15px;
 color:#FFF;
}
tr.top {
 font-family:Century;
 font-size:18px;
 color:#032796;
 height:25px;
}
td.img {
 float:top;
}
li {
 color:#FFF;
 font-family:Century;
 font-size:15px;													
}
a:link {
 text-decoration:none;
 color:#FFF;
}
a:visited {
 text-decoration:none;
 color:#FFF;
}
a:active {
 text-decoration:none;
 color:#FFF;
}
a:hover {
 text-decoration:none;
 color:#032796;
}
img.landing {
 width: 180px;
}