<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	backgroundColor="rgba(243,193,171,1)"
	showOpenButton="false"
	showExpandButton="false"
	showThumbsButton="false"
	useThumbDots="true"

>
  <image imageURL="images/20.jpg"
	thumbURL="thumbs/20.jpg"
	linkURL="images/20.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\isenscsi\Desktop\webdesign\schlosser-stubenwagen.ch\www\img\all\20\20.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20_3.jpg"
	thumbURL="thumbs/20_3.jpg"
	linkURL="images/20_3.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\isenscsi\Desktop\webdesign\schlosser-stubenwagen.ch\www\img\all\20\20_3.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20_1.jpg"
	thumbURL="thumbs/20_1.jpg"
	linkURL="images/20_1.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\isenscsi\Desktop\webdesign\schlosser-stubenwagen.ch\www\img\all\20\20_1.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20_2.jpg"
	thumbURL="thumbs/20_2.jpg"
	linkURL="images/20_2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\isenscsi\Desktop\webdesign\schlosser-stubenwagen.ch\www\img\all\20\20_2.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>