<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Saurer-Bau"
	backgroundColor="rgba(190,190,190,1)"
	textColor="rgba(255,221,0,1)"
	showOpenButton="false"
	showExpandButton="false"
	showThumbsButton="false"
	useThumbDots="true"

>
  <image imageURL="images/mini_ 08.01.2015 1120.jpg"
	thumbURL="thumbs/mini_ 08.01.2015 1120.jpg"
	linkURL="images/mini_ 08.01.2015 1120.jpg"
	linkTarget="_blank"
	sourcePath="F:\webdesign\saurer-bau.ch\img\Anbau Umbau\5_Umbau Kaufmann Huenibach\mini_ 08.01.2015 1120.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mini_ 08.01.2015 1152.jpg"
	thumbURL="thumbs/mini_ 08.01.2015 1152.jpg"
	linkURL="images/mini_ 08.01.2015 1152.jpg"
	linkTarget="_blank"
	sourcePath="F:\webdesign\saurer-bau.ch\img\Anbau Umbau\5_Umbau Kaufmann Huenibach\mini_ 08.01.2015 1152.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mini_ 08.01.2015 1153.jpg"
	thumbURL="thumbs/mini_ 08.01.2015 1153.jpg"
	linkURL="images/mini_ 08.01.2015 1153.jpg"
	linkTarget="_blank"
	sourcePath="F:\webdesign\saurer-bau.ch\img\Anbau Umbau\5_Umbau Kaufmann Huenibach\mini_ 08.01.2015 1153.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mini_ 08.01.2015 1154.jpg"
	thumbURL="thumbs/mini_ 08.01.2015 1154.jpg"
	linkURL="images/mini_ 08.01.2015 1154.jpg"
	linkTarget="_blank"
	sourcePath="F:\webdesign\saurer-bau.ch\img\Anbau Umbau\5_Umbau Kaufmann Huenibach\mini_ 08.01.2015 1154.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mini_ Feb 2015 234.jpg"
	thumbURL="thumbs/mini_ Feb 2015 234.jpg"
	linkURL="images/mini_ Feb 2015 234.jpg"
	linkTarget="_blank"
	sourcePath="F:\webdesign\saurer-bau.ch\img\Anbau Umbau\5_Umbau Kaufmann Huenibach\mini_ Feb 2015 234.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mini_ Feb 2015 233.jpg"
	thumbURL="thumbs/mini_ Feb 2015 233.jpg"
	linkURL="images/mini_ Feb 2015 233.jpg"
	linkTarget="_blank"
	sourcePath="F:\webdesign\saurer-bau.ch\img\Anbau Umbau\5_Umbau Kaufmann Huenibach\mini_ Feb 2015 233.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mini_ Feb 2015 235.jpg"
	thumbURL="thumbs/mini_ Feb 2015 235.jpg"
	linkURL="images/mini_ Feb 2015 235.jpg"
	linkTarget="_blank"
	sourcePath="F:\webdesign\saurer-bau.ch\img\Anbau Umbau\5_Umbau Kaufmann Huenibach\mini_ Feb 2015 235.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mini_ Feb 2015 236.jpg"
	thumbURL="thumbs/mini_ Feb 2015 236.jpg"
	linkURL="images/mini_ Feb 2015 236.jpg"
	linkTarget="_blank"
	sourcePath="F:\webdesign\saurer-bau.ch\img\Anbau Umbau\5_Umbau Kaufmann Huenibach\mini_ Feb 2015 236.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mini_ Feb 2015 237.jpg"
	thumbURL="thumbs/mini_ Feb 2015 237.jpg"
	linkURL="images/mini_ Feb 2015 237.jpg"
	linkTarget="_blank"
	sourcePath="F:\webdesign\saurer-bau.ch\img\Anbau Umbau\5_Umbau Kaufmann Huenibach\mini_ Feb 2015 237.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mini_ Feb 2015 279.jpg"
	thumbURL="thumbs/mini_ Feb 2015 279.jpg"
	linkURL="images/mini_ Feb 2015 279.jpg"
	linkTarget="_blank"
	sourcePath="F:\webdesign\saurer-bau.ch\img\Anbau Umbau\5_Umbau Kaufmann Huenibach\mini_ Feb 2015 279.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mini_ Feb 2015 281.jpg"
	thumbURL="thumbs/mini_ Feb 2015 281.jpg"
	linkURL="images/mini_ Feb 2015 281.jpg"
	linkTarget="_blank"
	sourcePath="F:\webdesign\saurer-bau.ch\img\Anbau Umbau\5_Umbau Kaufmann Huenibach\mini_ Feb 2015 281.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mini_ Feb 2015 282.jpg"
	thumbURL="thumbs/mini_ Feb 2015 282.jpg"
	linkURL="images/mini_ Feb 2015 282.jpg"
	linkTarget="_blank"
	sourcePath="F:\webdesign\saurer-bau.ch\img\Anbau Umbau\5_Umbau Kaufmann Huenibach\mini_ Feb 2015 282.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mini_ 08.01.2015 1028.jpg"
	thumbURL="thumbs/mini_ 08.01.2015 1028.jpg"
	linkURL="images/mini_ 08.01.2015 1028.jpg"
	linkTarget="_blank"
	sourcePath="F:\webdesign\saurer-bau.ch\img\Anbau Umbau\5_Umbau Kaufmann Huenibach\mini_ 08.01.2015 1028.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mini_ 08.01.2015 1030.jpg"
	thumbURL="thumbs/mini_ 08.01.2015 1030.jpg"
	linkURL="images/mini_ 08.01.2015 1030.jpg"
	linkTarget="_blank"
	sourcePath="F:\webdesign\saurer-bau.ch\img\Anbau Umbau\5_Umbau Kaufmann Huenibach\mini_ 08.01.2015 1030.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mini_ 08.01.2015 1031.jpg"
	thumbURL="thumbs/mini_ 08.01.2015 1031.jpg"
	linkURL="images/mini_ 08.01.2015 1031.jpg"
	linkTarget="_blank"
	sourcePath="F:\webdesign\saurer-bau.ch\img\Anbau Umbau\5_Umbau Kaufmann Huenibach\mini_ 08.01.2015 1031.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mini_ 08.01.2015 1035.jpg"
	thumbURL="thumbs/mini_ 08.01.2015 1035.jpg"
	linkURL="images/mini_ 08.01.2015 1035.jpg"
	linkTarget="_blank"
	sourcePath="F:\webdesign\saurer-bau.ch\img\Anbau Umbau\5_Umbau Kaufmann Huenibach\mini_ 08.01.2015 1035.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mini_ 08.01.2015 1037.jpg"
	thumbURL="thumbs/mini_ 08.01.2015 1037.jpg"
	linkURL="images/mini_ 08.01.2015 1037.jpg"
	linkTarget="_blank"
	sourcePath="F:\webdesign\saurer-bau.ch\img\Anbau Umbau\5_Umbau Kaufmann Huenibach\mini_ 08.01.2015 1037.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mini_ 08.01.2015 1036.jpg"
	thumbURL="thumbs/mini_ 08.01.2015 1036.jpg"
	linkURL="images/mini_ 08.01.2015 1036.jpg"
	linkTarget="_blank"
	sourcePath="F:\webdesign\saurer-bau.ch\img\Anbau Umbau\5_Umbau Kaufmann Huenibach\mini_ 08.01.2015 1036.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mini_ 08.01.2015 1047.jpg"
	thumbURL="thumbs/mini_ 08.01.2015 1047.jpg"
	linkURL="images/mini_ 08.01.2015 1047.jpg"
	linkTarget="_blank"
	sourcePath="F:\webdesign\saurer-bau.ch\img\Anbau Umbau\5_Umbau Kaufmann Huenibach\mini_ 08.01.2015 1047.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mini_ 08.01.2015 1048.jpg"
	thumbURL="thumbs/mini_ 08.01.2015 1048.jpg"
	linkURL="images/mini_ 08.01.2015 1048.jpg"
	linkTarget="_blank"
	sourcePath="F:\webdesign\saurer-bau.ch\img\Anbau Umbau\5_Umbau Kaufmann Huenibach\mini_ 08.01.2015 1048.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mini_ 08.01.2015 1049.jpg"
	thumbURL="thumbs/mini_ 08.01.2015 1049.jpg"
	linkURL="images/mini_ 08.01.2015 1049.jpg"
	linkTarget="_blank"
	sourcePath="F:\webdesign\saurer-bau.ch\img\Anbau Umbau\5_Umbau Kaufmann Huenibach\mini_ 08.01.2015 1049.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mini_ 08.01.2015 1121.jpg"
	thumbURL="thumbs/mini_ 08.01.2015 1121.jpg"
	linkURL="images/mini_ 08.01.2015 1121.jpg"
	linkTarget="_blank"
	sourcePath="F:\webdesign\saurer-bau.ch\img\Anbau Umbau\5_Umbau Kaufmann Huenibach\mini_ 08.01.2015 1121.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>