<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Saurer-Bau"
	backgroundColor="rgba(190,190,190,1)"
	textColor="rgba(255,221,0,1)"
	showOpenButton="false"
	showExpandButton="false"
	showThumbsButton="false"
	useThumbDots="true"

>
  <image imageURL="images/mini_ Feb 2015 437.jpg"
	thumbURL="thumbs/mini_ Feb 2015 437.jpg"
	linkURL="images/mini_ Feb 2015 437.jpg"
	linkTarget="_blank"
	sourcePath="F:\webdesign\saurer-bau.ch\img\Umgebungsarbeiten\2_Stuetzmauer Held Gunten\mini_ Feb 2015 437.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mini_ Feb 2015 440.jpg"
	thumbURL="thumbs/mini_ Feb 2015 440.jpg"
	linkURL="images/mini_ Feb 2015 440.jpg"
	linkTarget="_blank"
	sourcePath="F:\webdesign\saurer-bau.ch\img\Umgebungsarbeiten\2_Stuetzmauer Held Gunten\mini_ Feb 2015 440.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mini_ Feb 2015 438.jpg"
	thumbURL="thumbs/mini_ Feb 2015 438.jpg"
	linkURL="images/mini_ Feb 2015 438.jpg"
	linkTarget="_blank"
	sourcePath="F:\webdesign\saurer-bau.ch\img\Umgebungsarbeiten\2_Stuetzmauer Held Gunten\mini_ Feb 2015 438.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mini_ Feb 2015 439.jpg"
	thumbURL="thumbs/mini_ Feb 2015 439.jpg"
	linkURL="images/mini_ Feb 2015 439.jpg"
	linkTarget="_blank"
	sourcePath="F:\webdesign\saurer-bau.ch\img\Umgebungsarbeiten\2_Stuetzmauer Held Gunten\mini_ Feb 2015 439.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>